body {
    background-color: rgb(113, 177, 250);
    font: normal 15pt Arial;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    padding-bottom: 25px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: black solid 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

#inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

input {
    margin-right: 15px;
    height: 26px;
    font-size: 15pt;
    width: 150px;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 5px;
}

table {
    margin: 190px auto 0 auto;   
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;

}

