body {
    background-color: rgb(113, 177, 250);
    font: normal 15pt Arial;
    text-align: center;
}

div{
    margin: auto;
    padding-bottom: 40px;

}

input {
    margin-right: 30px;
}

input[type="button"] {
    font-size: 12pt
}

table {
    margin: auto;   
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;

}

